

body{
    background-image: none;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    /* background: linear-gradient(rgb(0, 0, 0), rgb(96, 207, 255)); */
    background-image: url(/fotos-rock/foto-recital-contact.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 85% 50%;
    background-attachment: fixed;
    min-height:  100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "header header header header header "
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
}


/* body > * {
    border: greenyellow thin solid;
} */

/* aside{
    display: none;
} */


.container-social-media{
    width: 16rem;
    height: 3rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
}



/* 
.container-main{
    width: 100vw;
    height: 100%;
    margin-bottom: 4rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}  */



.form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    /* border: red thin solid; */
    margin: 8rem auto;
    width: 80vw;
}

.form > *{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 100%;
}




.form textarea{
    resize: none;
}


.form legend{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.form input,
.form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}



.form button{
    width: 30%;
    font-weight: bold;
    cursor: pointer;
}


.form *::placeholder {
    color: #000;
}

.form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.form [required]:invalid {
    border: thin solid var(--form-error-color);
}



.form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
} 

.form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}
 
.none{
    display: none;
}

@keyframes show-message{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}





/* *COMPONENTES* */

.boton{
    margin: 2rem auto;
    font-size: 80%;
    border: 0;
    transition: color 0.5s ease;
}

.boton:hover {
    color: var(--second-color);
}






@media screen and (min-width:768px){
    .form{
        width: 30rem;
    }

}

@media screen and (min-width:1024px){
    .form{
        width: 25rem;
        margin-right: 30vw;
    }

}



.main{
    grid-area: main;

}


.header{
    grid-area: header;
}



.footer{
    grid-area: footer;
}