/* ********** Custom Properties ********** */
:root {
    --first-color: #70A7D8;
    --first-alpha-color: rgba(112, 167, 216, 0.75);
    --second-color: #0038A8;
    --second-alpha-color: rgba(0, 56, 168, 0.75);
    --third-color: #F3B846;
    --third-alpha-color: rgba(243, 184, 70, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #fff;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 5rem;
  }



  

  /* ********** Reset ********** */

  html{
      box-sizing: border-box;
      font-size: 16px;
      font-family: var(--font);

      scroll-behavior: smooth
  }
  
  *,
  *::after,
  *::before{
      box-sizing: inherit;
  }


  body{
      margin: 0;
      overflow-x: hidden;
      color: var(--text-color);
      /* background: linear-gradient(rgb(0, 0, 0), rgb(96, 207, 255)); */
      background-image: url(assets/cosquin-noche2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      min-height:  100vh;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5,auto);
      grid-template-areas: 
      "header header header header header "
      "main main main main main"
      "main main main main main"
      "aside aside aside aside aside"
      "footer footer footer footer footer";
  }

 .body-contacto{
    background-image: none;
    background-color: black;
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    /* background: linear-gradient(rgb(0, 0, 0), rgb(96, 207, 255)); */
    background-image: url(/fotos-rock/foto-recital-contact.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: 85% 50%;
    background-attachment: fixed;
    min-height:  100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "header header header header header "
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
 }




.main{
    width: 100%;
    min-height: 100%;
}


.main-start{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 10vw;
}

.main-title{
    font-size: 2.6rem;
    color: var(--main-title-color);
    padding: 6vh;
    margin-top: 2.7rem;
}

.main-start iframe{
    width: 90%;
    height: 400px;
}




  a{
    color: var(--link-color);
    transition: all 0.3s ease-out;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
      max-width: 100%;
      height: auto;
    }
    
  p {
        line-height: 1.6;
    }

    /* ********** Components ********** */





    /* ********** Menu ********** */

    .menu-boton {
        outline: thin solid var(--first-color);
        border: 0;
        outline: 0;
        cursor: pointer;
        background-color: var(--second-color);
    }

    .menu-boton svg{
        fill: var(--first-color);
    }


    .nav {
        position: fixed;
        left: 0;
        bottom: var(--header-height);
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--second-alpha-color);
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none;
    }

    .nav.is-active {
        opacity: 1;
        pointer-events: auto;
    }

    .nav a {
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color:#ccc;
        
    }

    .nav a:hover{
        color: var(--second-color);
        background-color: var(--first-alpha-color);
        opacity: 1;
    }

    .logo a{
        color: var(--first-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .logo a:hover{
        color: var(--first-color);
        opacity: 0.7;
        font-size: 1.6rem;
    }


    

  /* ********** Site Styles ********** */


 
.header{
    grid-area: header;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color)
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: auto ; */
}


.logo a img{
    border-radius: 25%;
}


.container-social-media{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    width: 15rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-social-media *{
    fill: var(--first-color);
    color: var(--white-color);
}


.social-media{
    padding-left: .3rem;
}

.social-media a{
text-decoration: none;
padding: 0 6px;

}


.container-social-media h5{
    color: white;
    font-size: .8rem;
    font-weight: normal;
    margin-bottom: 0;    
}

.social-media a:hover{
    opacity: .8;
}



    /* ********** Utilities ********** */
    
    .box-shadow-1 {
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
    }


    .boton{
        font-size: 1.2rem;
        border-radius: .5rem;
        padding: 1rem;
        max-width: 15rem;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: var(--white-color);
        background-color: var(--first-color);
        outline: 0;
        border: 0;
        transition: color 0.5s ease;

    }

    .boton :hover{
        color: var(--first-color);
        opacity: 0.7;
        font-size: 1.8rem;
    }

    
  


    .scroll-top-btn {
        position: fixed;
        z-index: 999;
        bottom: calc(1vh + 5rem);
        left: 1vh;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: bold;
        outline: 0;
        border: 0;
        background-color: var(--second-color);
        cursor: pointer;
        transition: all 0.4s ease;
    }


    .scroll-top-btn:hover {
        background-color: var(--first-color);
        color: var(--second-color);
    }


    .hidden{
        visibility: hidden;
        opacity: 0;
    }



    .menu-aside{
        display: none;
    }


    .footer{
        margin-bottom: var(--header-height);
        padding: .5rem;
        text-align: center;
        background-color: var(--second-color);
        color: var(--white-color);
    }

    .footer a {
        margin-right: 0.5em;
        text-decoration: none;
        color: var(--third-color)
    }

    .footer svg{
        fill: var(--white-color);
    }

    .footer a:hover{
        opacity: .5;
    }




    /* ****** CARRUSEL ******** */


    .aside .container {
        color: var(--text-color);
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 2rem;
        padding-left: 6rem;
    }


    .carousel-item:checked{
        transition:  opacity 2s ease;
    }

    
    .carousel-inner h4 {
        padding-right: 2rem;
        font-size: .7rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .carousel-inner p {
        font-size: .7rem;
        float: right;
        padding: 1rem;
    } 





    /* ****** SECTION ******** */

    .section{
        padding: 4rem;
        width: 100%;
        max-width: var(--container-width);
        min-height: 100vh;
        text-align: center;
        color: var(--white-color);
    }


    .section h2{
        font-size: 7vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .section hr{
        width: 75%;
        display: inline-block;
    }
    
    .article p{
        background-color: rgba(0, 0, 0, 0.8);
    }

    #youtube{
        margin-top: 4rem;
    }

    #youtube iframe{
        width: 100%;
        height: 250px;
    }

    #youtube a{
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            color: var(--first-color);  
        }

    #youtube a:hover{
        color: var(--second-color);
        background-color: var(--first-alpha-color);
        opacity: 1;
    }
   
    /* rock inter */

    .container-rock-inter h2{
        text-align: center;
    }
    
    
    .container-rock-inter h2{
        font-size: 2rem;
        color: var(--text-color);
        margin-top: 2rem;
    }


    
/* ****************** SerchFilters *************** */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    margin-bottom: 2rem;
    
}

.card{
    margin: 1.5rem;
    color: var(--main-color);
    transition: all 0.3s ease-out;
    width: 20rem;
    height: 13rem;
}

.card img{
    width: 100%;
    height: 12rem;
}

.card figcaption{
    padding: .5rem;
    background-color: var(--second-color);
    color: var(--first-alpha-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.filter {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

   
    
    /*  SLIDER */
    
    .slider{
        position: relative;
        border: thin solid white;
        width: 80%;
        margin: 1rem auto;
        text-align: center;
    }
    
    .slider-slides{
        position: relative;
        height: 400px;
    }
    
    .slider-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 4s ease;
    }
    
    .slider-slide img{
        height: inherit;
        width: inherit;
        object-fit: cover;
        object-position: 50% 50%;
    }
    
    .slider-slide.active {
        opacity: 1;
        visibility: visible;   
    }
    
    .slider-btns{
        position: absolute;
        width: 100%;
        top: 50%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 2.5rem;
    }
    
    .slider a {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        text-decoration: none;
        background-color: var(--second-color);
        color: var(--first-color);
        transition: all 0.3s ease;
    }
    
    .slider a:hover{
        color: var(--first-alpha-color);
    }




/*********** FORM **************/

.form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    /* border: red thin solid; */
    margin: 1rem auto;
    width: 80vw;
    max-height: 70vh;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 0.5rem;
}

.form > *{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 90%;
}

.form textarea{
    resize: none;
}

.form legend{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

.form input,
.form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}



.form button{
    width: 50%;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover{
    color: var(--second-color);
}


.form *::placeholder {
    color: #000;
}

.form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.form [required]:invalid {
    border: thin solid var(--form-error-color);
}



.form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
} 

.form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}
 
.none{
    display: none;
}

@keyframes show-message{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}



/*** JUEGO ***/

.container-juego{
    margin: 3rem 1rem 1rem 1rem;
    width: 90%;
    color: var(--text-color);
    text-align: center;
}

.game-container {
    margin: 1rem;
    width: 90%;
    display: inline-block;
    box-shadow: 0px 0px 55px var(--second-color);
}

.game-info {
    border: 2px solid var(--first-alpha-color);
    background: var(--black-color);
    font-family: century gothic;
    text-align: right;
    padding: 0.5rem;
    color: var(--white-color);
}

.game-info span{
	padding: 1rem;
}

.game {
    background: #222;
    height: 50vh;
}

.bot {
	background: var(--first-color);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #000;
	box-shadow: 0px 0px 10px #aaa;
	display: flex;
	position: relative;
	transition: top 0.36s, left 0.36s
}

.bot span {
	margin: auto;
	font-size: 3rem;
}


.container-instagram{
    display: none;
}
.container-twitter{
    display: none;
}













@media screen and (min-width:768px){

    body{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "header header header header header header"
        "main main main main aside aside"
        "main main main main aside aside"
        "main main main main aside aside"
        "footer footer footer footer footer footer";
    }

    .main-start{
        margin: auto;
    }

    .menu-boton{
        display: none;
    }
    
    .section h2{
        font-size: 4vh;
    }

    .nav{
        position: static;
        width: auto;
        opacity: 1;
        pointer-events: auto;
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }    

    .nav a {
        padding: 0 1em;
        font-size: 0.8rem;
    }    

    .logo a{
        font-size: 1.2rem;
    }

    .logo a:hover{
        font-size: 1.3rem;
    }

    .nav a:last-child{
        padding-right: 0;
    }    



    .nav > a:hover{
        color: var(--first-color);
        background-color: transparent;
    }    



    .main-title{
        font-size: 6.5vw;
        margin-top: 0em;
    }


    .boton{
        font-size: 1.3rem;
        padding: 1rem;
    }


    .scroll-top-btn {
        bottom: 1vh;
    }
    
    
    
    .header{
        position: sticky;
        top: 0;
        height: calc(var(--header-height) - 0.5rem);
    }

    .menu-aside{
        display: flex;
    }

    .aside .container{
        max-height: 10rem;
    }
 
    .menu-aside{
        position: sticky;
        top: var(--header-height);
        width: inherit;
        text-align: center;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        text-align: center;
    }
    
    .panel{
        
        opacity: 1;
        background-color: rgba(10, 10, 10, .7);
        border: #222 solid 0.1px;
        border-top: none;
        border-bottom: none;

    }
    
    .menu-aside a {
        padding: 0.5rem;
        display: block;
        width: inherit;
        font-size: 1.1rem;
        text-decoration: none;
        transition: all 0.4s ease;
        color: var(--first-color);
        font-weight: bold;
        border-bottom:rgba(80, 80, 80, 0.1) solid 0.1px;
    }

    .menu-aside a:hover,
    .menu-aside a.active{
        color: var(--white-color);
        background-color: var(--first-color);
    }
    
    
    /* ****** CARRUSEL TABLET ******** */
    
    .aside .container {
        padding: 0;
        position: static;
        color: white;
    }
  
    .carousel-inner h4 {
        padding-right: 2rem;
        font-size: .85rem
    }
    
    .carousel-inner p {
        font-size: .75rem;
    }

    .container-social-media{
        padding-top: calc(var(--header-height) + 1rem);
    }

    .form{
        width: 30rem;
    }

    .form button{
        width: 30%;
        padding: 0.5rem;
    }
    
    .form button:hover{
        color: var(--second-color);
        opacity: 0.9; 
    }


    .container-instagram{
        display: block ;
        text-align: center;
        margin-bottom: 3rem;
    }

    .container-instagram iframe{
        width: 70%;
        height: 40vh
    }
    
    
    .container-twitter{
      margin-top: 6rem;
      margin-bottom: 2rem;
      display: block;
      text-align: center;

  }


    .footer{
        margin-bottom: 0;
    }


}


@media screen and (min-width:1024px){
    
    body{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "header header header header header header"
        "main main main main aside aside"
        "main main main main aside aside"
        "main main main main aside aside"
        "footer footer footer footer footer footer";
    }

    .main-title{
        font-size: 6.5vw;
        margin-top: 0em;
    }

    .main-start iframe{
        width: 60%;
    }

    #youtube iframe{
        width: 90%;
        height: 450px;
    }

    .menu-boton{
        display: none;
    }    


    .nav a {
        padding: 0 1em;
        font-size: 1rem;
    }    

    .nav a:last-child{
        padding-right: 0;
    }    

    .boton{
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }



    /* ****** PANEL BANDAS ******** */


    .menu-aside{
        position: sticky;
        top: var(--header-height);
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        text-align: center;
        margin-top: 2rem;
    }    
    
    .panel{
        
        background-color: #222;
        opacity: 1;
        background-color: rgba(10, 10, 10, .7);
        border: #222 solid 0.1px;
        border-top: none;
        border-bottom: none;

    }    

    .menu-aside a {
        padding: 0.5rem;
        display: block;
        font-size: 1.2rem;
        text-decoration: none;
        transition: all 0.4s ease;
        color: var(--first-color);
        font-weight: bold;
        border-bottom:rgba(80, 80, 80, 0.1) solid 0.1px;
    }    

    .menu-aside a:hover,
    .menu-aside a.active{
        color: var(--white-color);
        background-color: var(--first-color);
    }    

    .section h2{
        font-size: 3.5rem;
    }   

    .scroll-top-btn {
        bottom: 4vh;
    }
   


    /* ****** CARRUSEL ******** */

    
    .aside .container {
        position: static;
        max-width: 30rem;
    }

  
    .carousel-inner h4 {
        padding-right: 2rem;
        font-size: 1rem
    }
    
    .carousel-inner p {
        font-size: .8rem;
    }


    .form{
        width: 33rem;
        margin-right: 30vw;
    }

    .game-container{
        width: 70%;
        margin: 1rem 8rem;
    }

    .container-instagram{
        display: block ;
        text-align: center;
        
    }

    
    
    .container-twitter {
      margin-top: 6rem;
      margin-bottom: 2rem;
      display: block;
      text-align: center;

  }


  .card{
    width: 30rem;
    height: 22rem;
}

.card img{
    height: 20rem;
}
 

}


.main{
    grid-area: main;

}



.aside{
    grid-area: aside;
    
}



.footer{
    grid-area: footer;
}


.none{
    display: none;
}




