@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


/* ********** Custom Properties ********** */
:root {
    --first-color: #70A7D8;
    --first-alpha-color: rgba(112, 167, 216, 0.75);
    --second-color: #0038A8;
    --second-alpha-color: rgba(0, 56, 168, 0.75);
    --third-color: #F3B846;
    --third-alpha-color: rgba(243, 184, 70, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #fff;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 7rem;
  }

  
  /* ********** Reset ********** */

  html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font);
    scroll-behavior: smooth; 
}

*,
*::after,
*::before{
    box-sizing: inherit;
}


body{
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(rgb(0, 0, 0), rgb(96, 207, 255)); */
    background-image: url(assets/cosquin-noche2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height:  100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
    "header header header header header "
    "main main main main main"
    "main main main main main"
    "aside aside aside aside aside"
    "footer footer footer footer footer";
}



.main{
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(to top,rgb(0,0,0), var(--second-color)); */
}


a{
  color: var(--link-color);
  transition: all 0.3s ease-out;
}

a:hover {
    opacity: 0.75;
  }

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
  }
  
p {
    line-height: 1.6;
  }

  /* ********** Site Styles ********** */

  .header{
    grid-area: header;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color)
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    /* margin: auto ; */
}


/* ********** Menu ********** */

.menu-boton {
    outline: thin solid var(--first-color);
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: var(--second-color);
}

.menu-boton svg{
    fill: var(--first-color);
}

.nav {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.8), rgba(0, 56, 168, 0.9));
    background-color: var(--second-alpha-color);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.nav.is-active {
    opacity: 1;
    pointer-events: auto;
}

.nav a {
    padding: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:#ccc;
}

.nav a:hover{
    color: var(--second-color);
    background-color: var(--first-alpha-color);
    opacity: 1;
}

.logo a{
    color: var(--first-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
}

.logo a:hover{
    color: var(--first-color);
    opacity: 0.8;
    font-size: 1.5rem;
}

.logo a img{
    border-radius: 25%;
}


.main{
    grid-area: main;
}

.main-start{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10vw;
    margin-top: -2rem;
}

.main-title{
    font-size: 2.6rem;
    color: var(--main-title-color);
    padding: 6vh;
    margin-top: 2.7rem;
}

.boton{
    background-color: var(--first-color); /* Green */
    border: none;
    border-radius: .3rem;
    color: var(--text-color);
    padding: 12px 32px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 0;
    border: 0;
    transition: color 2s ease;
}

.boton:hover {
    opacity: 0.9;
    background-color: var(--second-color);
    color: var(--text-color);
  }


.main-start iframe{
    margin-top: 6rem;
    width: 90%;
    height: 300px;
}

.container-social-media{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-social-media *{
    fill: var(--first-color);
    color: var(--white-color);
    font-size: .9rem;
}

.social-media{
    padding-left: .3rem;
}

.social-media a{
    text-decoration: none;
    padding: 0 4px;
}

.scroll-top-btn {
    position: fixed;
    z-index: 999;
    bottom: calc(1vh + 7rem);
    left: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    outline: 0;
    border: 0;
    background-color: var(--second-color);
    cursor: pointer;
    transition: all 0.4s ease;
}

.scroll-top-btn:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}

.hidden{
    visibility: hidden;
    opacity: 0;
}


.aside{
    grid-area: aside;
    display: none;
    /* background: linear-gradient(to bottom,rgb(0,0,0), var(--second-color)); */
}

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--header-height);
    padding: .5rem;
    background-color: #222;
    color: var(--white-color);
}

.footer a {
    margin-right: 0.5em;
    text-decoration: none;
    color: var(--third-color);
    fill: var(--third-color);
}

.footer a:hover{
    color: var(--third-alpha-color);
    fill: var(--third-alpha-color);
}

.footer-social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10rem;
    padding-right: 3rem;
}

.footer-social-media a {
    margin: auto .5rem;
}


/* ****** SECTION ******** */

.section{
    padding: 2rem;
    padding-top: 7rem;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 4rem;
}


.section h2{
    font-size: 2.5rem;
    font-family: 'DM Serif Text', serif;
    font-weight: bold;
}

.article p{
    background: rgba(0, 0, 0, 0.4);
}

#youtube{
    margin-top: 4rem;
}
#youtube iframe{
    width: 100%;
    height: 250px;
}

/* #youtube a{
        padding: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: var(--first-color);  
    }

#youtube a:hover{
    color: var(--second-color);
    background-color: var(--first-alpha-color);
    opacity: 1;
} */


/*********** FORM **************/

.form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin:2rem auto;
    width: 90vw;
    max-height: 70%;
    background-color: rgba(10, 10, 10, 0.4);
    padding: 0.5rem;
}

.form > *{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 90%;
    font-size: 1.1rem;
}


.result-form > *{
    color: var(--text-color);
}

.result-form b{
    color: var(--first-color);
    margin-right: .5rem;
}

.form textarea{
    resize: none;
}

.form legend{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}

.form input,
.form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}

.form button{
    width: 50%;
    font-size: 90%;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover{
    color: var(--text-color);
    background-color: var(--second-color);
}

.form *::placeholder {
    color: #000;
}

.form [required]:valid {
    border: thin solid var(--form-ok-color);
}

.form [required]:invalid {
    border: thin solid var(--form-error-color);
}

.form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
} 

.form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}
 
.none{
    display: none;
}

@keyframes show-message{
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/*********** CARDS ROCK INTERNACIONAL **************/

.container-rock-inter{
    margin: 4rem 2rem;
}

.container-rock-inter h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card{
    margin: 2rem;
    transition: all 1s ease-out;
    box-shadow: .5rem .5rem 1.5rem var(--text-color);
}

.card figcaption{
    padding: .5rem;
    background-color: var(--second-color);
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

/*********** TRIVIA **************/

.trivia-box{
    max-width: 700px;
    background: rgba(0, 56, 168, 0.7);
    margin: 40px 2rem;
    padding: 30px;
    border-radius: 10px;
}

.trivia-box.hide{
    display: none;
}

.trivia-btn{
    padding: 15px 45px;
    background-color: var(--first-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.quiz-box .question-number{
    font-size: 18px;
    color: var(--first-color);
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text{
    font-size: 20px;
    color: var(--text-color);
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option{
    background-color: #ccc;
    padding: 13px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--second-color);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    text-transform: capitalize;
    animation: fadeIn 0.3s ease forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.quiz-box .trivia-btn{
    margin: 15px 0;

}

.quiz-box .answers-indicator{
    border-top: 1px solid #ccc;
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.result-box{
    text-align: center;
}

.result-box.hide{
    display: none;
}

.result-box h1{
    font-size: 30px;
    line-height: 42px;
    color: var(--first-color);
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{
    border: 1px solid #ccc;
    padding: 8px 15px; 
    font-weight: 500;
    color: var(--text-color);
    width: 50%;
    text-align: left;
    font-size: 18px;
}
.result-box .trivia-btn{
    margin-right: 20px;
    margin-bottom: 10px;
    min-width: 15rem;
}

@media screen and (min-width:768px){

    body{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "header header header header header header"
        "main main main main main aside"
        "main main main main main aside"
        "main main main main main aside"
        "footer footer footer footer footer footer";
    }


    .header{
        position: sticky;
        top: 0;
        height: calc(var(--header-height) - 0.5rem);
    }

    .main-start iframe{
        margin-top: 3rem;
        height: 500px;
    }

    .nav{
        position: static;
        width: auto;
        opacity: 1;
        pointer-events: auto;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        background: none;
    } 

    .nav a {
        padding: 1.2em;
        font-size: .8rem;
    }  
    
    .nav > a:hover{
        color: var(--first-color);
        background-color: transparent;
    }

    .menu-boton{
        display: none;
    }  

    .form legend{
        font-size: 2rem;
    }
    
    .form{
        width: 60vw;
    }

    .form button{
        width: 30%;
        padding: 0.5rem;
    }
    
    .form button:hover{
        color: var(--text-color);
        opacity: 0.9; 
    }

    .main{
    }





    /* Restructing MQ */

    .main-title{
        font-size: 4rem;
    }

    #youtube iframe{
        height: 400px;
    }

    .section h2{
        font-size: 4rem;
    }

    .container-social-media{
        position: fixed;
        margin-top: 6.4rem;
    }

    .menu-aside{
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: flex-end;
        top: 9rem;
        width: inherit;
        text-align: center;
    }

    .panel{
        opacity: 1;
        background-color: rgba(10, 10, 10, .7);
        width: 100%;
        border: #222 solid 0.1px;
        border-top: none;
        border-bottom: none;
    }


    .panel a {
        padding: 0.5rem;
        display: block;
        width: 100%;
        font-size: 1.1rem;
        text-decoration: none;
        transition: all .7s ease;
        color: var(--first-color);
        font-weight: bold;
        border-bottom:rgba(80, 80, 80, 0.1) solid 0.1px;
    }

    .menu-aside a:hover,
    .menu-aside a.active{
        color: var(--third-color);
        background-color: rgba(255, 255, 255, 0.1);
    }

    
    /* ****** CARRUSEL TABLET ******** */
    
    .aside .container {
        height: 5rem;
        margin-bottom: 2rem;
        padding: -2rem;
        position: static;
        color: white;
    }

    .carousel-inner{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 1.3s ease-out;
        max-height: 7rem;
    }
    
  
    .carousel-inner h4 {
        font-size: .9rem;
        /* padding: -2rem; */
    }
    
    .carousel-inner p {
        font-size: .7rem;
    } 

    .aside{
        display: block;
        min-width: 15em;
    }

    .container-twitter{
        margin: 4rem 1rem;
        min-height: 80vh;
    }

    .footer{
        margin-bottom: 0;
    }


}

@media screen and (min-width:1024px){

    .nav a {
        padding: 1.5em;
        font-size: 1.1rem;
    }  

    .sections{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section{
        width: 60vw;
    }

    .main-start iframe{
        max-width: 50vw;
        height: 400px;
    }

    .boton{
        font-size: 1.6rem;
    }

    .form{
        width: 40rem;
    }

    /*********** CARDS ROCK INTERNACIONAL **************/

    .container-rock-inter h2{
        font-size: 2rem;
    }

    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }

    .card{
        flex: 0 1 40%;
    }

    .card figcaption{
        font-size: 1.3rem;
    }
}


.main{
    grid-area: main;

}


.aside{
    grid-area: aside;
    
}

.footer{
    grid-area: footer;
}


.none{
    display: none;
}

